@page "/"

<h1>Hello, world!</h1>
<h2>@number</h2>

<MudContainer>
	<div @ondblclick="()=>handleClick(1)">
		card 1
	</div>
	<div @ondblclick="()=>handleClick(2)">
		card 2
	</div>
	<div @ondblclick="()=>handleClick(3)">
		card 3
	</div>
</MudContainer>

@code{
	int number = 0;
	private void handleClick(int n){
		number = n;
		StateHasChanged();
	}
}
